

<!-- Footer Area -->
    <!-- Footer Widgets Area -->
    <div class="footer-toparea tm-padding-section" data-bgimage="/images/footer-bg.jpg"
    data-overlay="2">
    <div class="container">
    <div class="row widgets footer-widgets">
    
    <div class="col-lg-3 col-md-6 col-12">
    <!-- Single Widget (Widget Info) -->
    <div class="single-widget widget-info">
    <a href="/" class="widget-info-logo">
    <img src="/logo/logo.png" alt="footer logo">
    </a>
    <p style="text-align: justify;">At PrimCapital Consulting we take the time to thoroughly 
        understand your business competition and your target demographic in order 
        to advice you on the best strategy & business solution to help you achieve your target goals. </p>
    <a href="/" class="tm-button">Read More<b></b></a>
    </div>
    <!--// Single Widget (Widget Info) -->
    </div>
    
    <div class="col-lg-3 col-md-6 col-12">
    <!-- Single Widget (Widget Contact) -->
    <div class="single-widget widget-quicklinks">
    <h5 class="widget-title">Quick Links</h5>
    <ul>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="">Our Services</a></li>
    <li><a href="/contact">Contact With Us</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Brochure</a></li>
    </ul>
    </div>
    <!--// Single Widget (Widget Contact) -->
    </div>
    
    <div class="col-lg-3 col-md-6 col-12">
    <!-- Single Widget (Widget Blog) -->
    <div class="single-widget widget-recentpost">
    <h5 class="widget-title">Contact Details</h5>
    <ul>
    <li>
   <!-- <a href="blog-details.html" class="widget-recentpost-image">
        <img src="/images/icons/phone.png"
        alt="blog thumbnail">
    </a>-->
    <div class="widget-recentpost-content">
    <h6><a href="blog-details.html">
        <p>+234 704 000 1691</p>
       <p> +234 803 582 4837</p>
        <p>+234 803 791 8177</p>
      </div>
    </li>
    <li>
    <!--<a href="" class="widget-recentpost-image">
    <img src="/images/icons/address.png"
    alt="blog thumbnail">
    </a>-->
    <div class="widget-recentpost-content">
    <h6><a href=""><b>Office hours:</b><br>
        Mon - Fri: 9:00am - 5:00pm  </div>
    </li>
   
    </ul>
    </div>
    <!--// Single Widget (Widget Blog) -->
    </div>
    
    <div class="col-lg-3 col-md-6 col-12">
    <!-- Single Widget (Widget Newsletter) -->
    <div class="single-widget widget-quicklinks">
    <h5 class="widget-title">Get In Touch</h5>
    
    <div>
        
       <!-- <a href="" class="widget-recentpost-image">
        <img src="/images/icons/address.png"
        alt="blog thumbnail">
        </a> <br>-->
        <div class="widget-recentpost-content">
        <h6><a href=""><b>Address:</b>
            Shop B-303, Soar Plaza, Plot C-120, Opposite Agete Hotel, First Avenue, Gwarinpa, FCT-Abuja.
        
        </div>
    </div>
    <!-- Mailchimp Alerts -->
    <div class="tm-mailchimp-alerts">
    <div class="tm-mailchimp-submitting"></div>
    <div class="mailchimp-success"></div>
    <div class="tm-mailchimp-error"></div>
    </div>
    <!--// Mailchimp Alerts -->
    </div>
    <!--// Single Widget (Widget Newsletter) -->
    </div>
    
    </div>
    </div>
    </div>
    <!--// Footer Widgets Area -->
    
            <!-- Footer Copyright Area -->
            <div class="footer-copyrightarea">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-12">
                            <p class="footer-copyright">Copyright ©2020 <a href="#"></a>. All Rights Reserved</p>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="footer-copyrightsocial">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                                class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                                class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--// Footer Copyright Area -->
    
    
    <!--// Footer Area -->
    