
<!-- Header -->
<div class="header sticky-header">

    <!-- Header Top Area -->
    <!--<div class="header-toparea">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-12">
    <div class="header-topinfo">
    <ul>
    <li><a href="tel://+1-800-915-6270"><i class="fa fa-phone"></i> 1-800-915-6270</a>
    </li>
    <li><a href="mailto://contact@example.com"><i class="fa fa-envelope-o"></i>
    contact@example.com</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-5 col-12">
    <div class="header-topinfo text-right">
    <ul>
    <li><i class="fa fa-clock-o"></i> Mon - Fri: 9:00 - 19:00 GMT-05</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>-->
    <!--// Header Top Area -->
    
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
    <div class="container">
    <div class="header-bottominner">
    <div class="header-logo">
    <a href="/">
    <img src="/logo/logo.png" alt="primecapital logo">
    </a>
    </div>
    <nav class="tm-navigation">
    <ul>
    <li ><a href="/">Home</a>
     </li>
     <li><a href="">Recruitment/Outsourcing</a></li>
    <li><a href="">OurProducts</a></li>
    <li class="tm-navigation-dropdown"><a>About Us</a>
    <ul>
        <li><a href="/desk">CEO Desk</a></li>
        <li><a href="/about">Who we Are</a></li>
    </ul></li>
    <li><a href="/services">Services</a></li>
  
    <li><a href="">Contact</a></li>
    
    </div>
   
    <!-- Header Searchform -->
    <!--<div class="header-searchbox">
    <form action="#" class="header-searchform">
    <input type="text" placeholder="Enter search keyword..">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>-->
    <!--// Header Searchform -->
    
    </div>
    <div class="header-mobilemenu clearfix">
    <div class="tm-mobilenav"></div>
    </div>
    </div>
    </div>
    <!--// Header Bottom Area -->
    
    </div>