<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <!-- Preloader -->
    <div class="tm-preloader">
        <span class="tm-preloader-box"></span>
        <button class="tm-button tm-button-sm tm-button-white">Cancel Preloader <b></b></button>
    </div>
    <!--// Preloader -->

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">
        <%- include('./partials/header') %>
        <!-- Header -->
        <div class="header sticky-header">

           
        </div>
        <!--// Header -->

        <!-- Breadcrumb Area -->
        <div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="/images/aboutus.jpg">
            <div class="container">
                <div class="tm-breadcrumb">
                    <h2 class="tm-breadcrumb-title">About Us</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

        <!-- Main Content -->
        <main class="main-content">

            <!-- About Us Area -->
            <div class="tm-section about-us-area bg-white tm-padding-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="tm-about-image">
                                <img class="wow fadeInLeft" src="/images/promise.jpg" alt="primecapita image">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="tm-about-content">
                                <h2>Our Promise</h2>
                                <span class="divider"><i class="fa fa-superpowers"></i></span>
                                <p>At PrimCapital Consulting we take the time to thoroughly understand your business competition and
                                     your target demographic in order to advice you on the best strategy & business solution to help you
                                      achieve your target goals. From project conception to delivery we seek to find fresh, innovative, 
                                      and effective answers to the questions posed by your specific industry. We offer to our clients practical,
                                       sensible Management and Business solutions services that help them achieve their business objectives in
                                        ways that are consistent with their culture.
                                     We not only provide recommendations and solutions but help our clients implement to gain maximum value.</p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// About Us Area -->

            <!-- Funfact Area -->
            <div class="tm-section funfact-area tm-padding-section tm-parallax" data-bgimage="assets/images/bg/bg-image-1.jpg"
                data-overlay="9">
                <div class="container">
                    <div class="row tm-funfact-wrapper">

                        <!-- Single Funfact -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-group"></i>
                                </span>
                                <div class="tm-funfact-content">
                                   <!-- <span class="odometer" data-count-to="500"></span>-->
                                    <h5><b>Vision</b></h5>
                                    <p>To be the preferred one stop business consulting 
                                        partner for businesses which is most admired for its people,
                                         partnerships and performance</p>
                                </div>
                            </div>
                        </div>
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                               <!-- <span class="tm-funfact-icon">
                                    <i class="flaticon-success"></i>
                                </span>-->
                                <div class="tm-funfact-content">
                                    <!--<span class="odometer" data-count-to="500"></span>
                                    <h5>Happy Clients</h5>-->
                                    <div class="tm-about-image">
                                        <img class="wow fadeInLeft" src="/images/vision.jpg"
                                         alt="primecapita image">
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-trophy"></i>
                                </span>
                                <div class="tm-funfact-content">
                                    <!--<span class="odometer" data-count-to="500"></span>-->
                                    <h5><b>Mission</b></h5>
                                    <p>To exceed expectations in providing integrated solutions
                                         to create shared value for our clients, employees, 
                                         shareholders, and communities.</p>
                                </div>
                            </div>
                        </div>
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                              <!--  <span class="tm-funfact-icon">
                                    <i class="flaticon-like"></i>
                                </span>-->
                                <div class="tm-funfact-content">
                                   <!-- <span class="odometer" data-count-to="500"></span>
                                    <h5>Likes</h5>--->
                                    <div class="tm-about-image">
                                        <img class="wow fadeInLeft" src="/images/mission.jpg"
                                         alt="primecapita image">
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <!--// Single Funfact -->

                    </div>
                </div>
            </div>
            <!--// Funfact Area -->
            
<!-- Services Area -->
<div class="tm-section services-area bg-grey tm-padding-section">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-7 col-md-10 col-12">
    <div class="tm-section-title text-center">
    <h2>WHAT ELSE WE PROVIDE?</h2>
    <span class="divider"><i class="fa fa-superpowers"></i></span>
    <p></p>
    </div>
    </div>
    </div>
    <div class="row mt-30-reverse">
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-analysis"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-graphic-money"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">CORPORATE FINANCE</a></h5>
    <p>Our team provides strategic advice on finance and value creation. 
        We work with clients on topics such as valuation, audit, tax, transaction support,
         capital markets, treasury, financial analysis and modeling, and strengthening 
        the finance function. We move corporate finance beyond simply
         managing value to creating maximum value.</p>
    <!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-consulting"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-clock-money"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">FAMILY BUSINESS MANAGEMENT</a></h5>
    <p>At PrimeCapital Consulting, we provide business owners and their families in Nigeria with management,
         analyzing market trends strategic position and succession planning needs, 
         implementing workable ownership and leadership transfer, determining appropriate
         key executive compensation and business structure, and establishing effective shareholder communication.</p>
<!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-growth"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-success"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">BRAND BUILDING & POSITIONING</a></h5>
    <p>Our brand building and positioning strategies help distinguishes you from the competition.
         Branding can be used as a differentiation strategy when the product 
        cannot be easily distinguished in terms of tangible features or in products 
        which are perceived as a commodity </p>
    <!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-planning"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-paper-certificate"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">DUE DELIGENCE</a></h5>
    <p>One of the unique services that we have to offer is due diligence and risk analysis on a target,
         business, property or its assets.
         We customize the scope of our due diligence and Risk analysis
          best suited with our client’s interests</p>
    <!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-money"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-money"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">BUSINESS PROCESS SERVICES</a></h5>
    <p>Our business process services aim to deliver improved operational 
        efficiency through implementing standardized processes, improving
         visibility and enabling collaboration. 
        We conduct organisation audit, re-engineer existing processes and 
        strategically implement process restructuring</p>
    <!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    <!-- Single Service -->
    <div class="col-lg-4 col-md-6 col-12 mt-30">
    <div class="tm-service text-center wow fadeInUp">
    <span class="tm-service-bgicon">
    <i class="flaticon-management"></i>
    </span>
    <span class="tm-service-icon">
    <i class="flaticon-user"></i>
    </span>
    <div class="tm-service-content">
    <h5><a href="">BUSINESS ANALYSIS</a></h5>
    <p>Our business analysts define focus on defining and elaborate business 
        needs that are aligned to strategic vision, are feasible to
         implement and will add measurable business value. </p>
    <!--<a href="" class="tm-readmore">Read More</a>-->
    </div>
    </div>
    </div>
    <!--// Single Service -->
    
    </div>
    </div>
    </div>
    <!--// Services Area -->
    
    
            <!-- Team Area -->
            <div class="tm-section team-members-area bg-grey tm-padding-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                            <div class="tm-section-title text-center">
                                <h2>OUR MANAGEMENT TEAM</h2>
                                <span class="divider"><i class="fa fa-superpowers"></i></span>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-30-reverse">

                        <!-- Team Member -->
                        <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="/images/vision.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--// Team Member -->

                        <!-- Team Member -->
                        <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="/images/vision.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--// Team Member -->

                        <!-- Team Member -->
                        <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="/images/vision.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--// Team Member -->

                        <!-- Team Member -->
                        <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="/images/vision.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--// Team Member -->

                    </div>
                </div>
            </div>
            <!--// Team Area -->

        </main>
        <!--// Main Content -->

        <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>

</html>