<!DOCTYPE html>
<html lang="zxx">

<head>
   <!--// Wrapper -->
   <%- include('./partials/head') %>
</head>

<body>

    <!-- Preloader -->
    <div class="tm-preloader">
        <span class="tm-preloader-box"></span>
        <button class="tm-button tm-button-sm tm-button-white">Cancel Preloader <b></b></button>
    </div>
    <!--// Preloader -->

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">
   <!--// Wrapper -->
   <%- include('./partials/header') %>
        <!-- Header -->
        <div class="header sticky-header">

          
            
                    <div class="header-mobilemenu clearfix">
                        <div class="tm-mobilenav"></div>
                    </div>
                </div>
            </div>
            <!--// Header Bottom Area -->

        </div>
        <!--// Header -->

        <!-- Breadcrumb Area -->
        <div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="assets/images/bg/bg-breadcrumb.jpg">
            <div class="container">
                <div class="tm-breadcrumb">
                    <h2 class="tm-breadcrumb-title">Our Portfolios</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Portfolios</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

        <!-- Main Content -->
        <main class="main-content">

            <!-- Our Portfolios -->
            <div class="tm-section portfolios-area bg-white tm-padding-section">
                <div class="container">
                    <div class="tm-portfolio-buttons text-center">
                        <button data-filter="*" class="is-active">All</button>
                        <button data-filter=".portfolio-filter-business">Business</button>
                        <button data-filter=".portfolio-filter-financial">Financial</button>
                        <button data-filter=".portfolio-filter-investment">Investment</button>
                        <button data-filter=".portfolio-filter-careative">Creative</button>
                        <button data-filter=".portfolio-filter-technology">Technology</button>
                    </div>
                    <div class="row tm-portfolio-wrapper mt-30-reverse">

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-investment">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-1.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">Exercit alias cupiditate</a></h5>
                                    <h6><a href="portfolio.html">Business</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-careative portfolio-filter-technology">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-2.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details-gallery.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-2.jpg"><i class="fa fa-clone"></i></a>
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-3.jpg"><i class="fa fa-clone"></i></a>
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-4.jpg"><i class="fa fa-clone"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details-gallery.html">Corrupti est voluptatem.</a></h5>
                                    <h6><a href="portfolio.html">Financial</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-technology">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-3.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details-video.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="https://www.youtube.com/watch?v=Sv511KEiIJQ"><i class="fa fa-play"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details-video.html">Ullam doloremque est ipsa.</a></h5>
                                    <h6><a href="portfolio.html">Technology</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-careative">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-4.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-4.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">Incidunt velit dolore.</a></h5>
                                    <h6><a href="portfolio.html">Creative</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-investment">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-5.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details-video.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="https://www.youtube.com/watch?v=Sv511KEiIJQ"><i class="fa fa-play"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details-video.html">Rerum omnis laborum aliquid.</a></h5>
                                    <h6><a href="portfolio.html">Financial</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-careative">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-6.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-6.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">Cumque molestias voluptatem.</a></h5>
                                    <h6><a href="portfolio.html">Creative</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-busines portfolio-filter-financial">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-7.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-7.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">New business idea platform</a></h5>
                                    <h6><a href="portfolio.html">Financial</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-investment portfolio-filter-technology">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-8.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-8.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">New business idea platform</a></h5>
                                    <h6><a href="portfolio.html">Financial</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                        <!-- Portfolio Single -->
                        <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-busines portfolio-filter-careative">
                            <div class="tm-portfolio mt-30 wow fadeInUp">
                                <div class="tm-portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-image-9.jpg" alt="portfolio image">
                                    <ul class="tm-portfolio-actions">
                                        <li class="link-button">
                                            <a href="portfolio-details.html"><i class="fa fa-link"></i></a>
                                        </li>
                                        <li class="zoom-button">
                                            <a href="assets/images/portfolio/lg/portfolio-image-lg-9.jpg"><i class="fa fa-search-plus"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-portfolio-content">
                                    <h5><a href="portfolio-details.html">New business idea platform</a></h5>
                                    <h6><a href="portfolio.html">Financial</a></h6>
                                </div>
                            </div>
                        </div>
                        <!--// Portfolio Single -->

                    </div>
                </div>
            </div>
            <!--// Our Portfolios -->

            <!-- Call To Action Area -->
            <div class="tm-section call-to-action-area bg-theme">
                <div class="container">
                    <div class="row align-items-center tm-cta">
                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="tm-cta-content">
                                <h3>Are you worried about your business?</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="tm-cta-button">
                                <a href="contact-us.html" class="tm-button tm-button-white">Contact Us <b></b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Call To Action Area -->

        </main>
        <!--// Main Content -->
   
   <%- include('./partials/footer') %>

        </div>
       
    </div>
    <!--// Wrapper -->
<%- include('./partials/scripts') %>
</body>

</html>