<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>

    <!-- Preloader -->
    <div class="tm-preloader">
        <span class="tm-preloader-box"></span>
        <button class="tm-button tm-button-sm tm-button-white">Cancel Preloader <b></b></button>
    </div>
    <!--// Preloader -->

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">
        
    <%- include('./partials/header') %>

        <!-- Breadcrumb Area -->
        <div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="/images/aboutus.jpg">
            <div class="container">
                <div class="tm-breadcrumb">
                    <h2 class="tm-breadcrumb-title">About Us</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

        <!-- Main Content -->
        <main class="main-content">

            <!-- About Us Area -->
            <div class="tm-section about-us-area bg-white tm-padding-section">
                <div class="container">
                    <div class="row"> 
                          
                        <div class="tm-section-title text-center">
                       
                        <h2 >Message from the CEO</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                      </div>
                        </div> 
                        <div class="row"> 
                        <div class="col-xl-6 col-lg-5" style="text-align: justify;">
                            <div class="tm-about-image">
                                <img class="wow fadeInLeft" src="/images/CEO.jpg" alt="prime capital image">
                            </div>
                            <p>It gives me immense pleasure to welcome you to PrimeCapital Consulting Ltd. We are a dynamic group of
                                entrepreneurial thinkers who come from diverse backgrounds and fields
                                 of specialty with a passion for growing businesses – both ours and our clients’. 
                               As a firm that was built on culture, we value our people and their growth,
                                and we firmly believe that our people come first. Each of us embody
                                 the entrepreneurial spirit and have something unique to contribute to the fabric of our organization.
                                 </p><p>
                                 It gives me immense pleasure to welcome you to PrimeCapital Consulting Ltd. We are a dynamic group of
                                    entrepreneurial thinkers who come from diverse backgrounds and fields
                                     of specialty with a passion for growing businesses – both ours and our clients’. 
                                   As a firm that was built on culture, we value our people and their growth,
                                    and we firmly believe that our people come first. Each of us embody
                                     the entrepreneurial spirit and have something unique to contribute to the fabric of our organization.
                                     </p> 
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="tm-about-content" style="text-align: justify;">
                                <p>
                                    Today, we occupy an exceptional space among Business and Management
                                     Consulting firms in Africa. Whether you’re a potential client with 
                                     a challenging project ahead; an existing client checking up on our
                                      latest news; or future employee looking for new opportunities,
                                       I trust you’ll find what you’re looking for here.
                                      </p>
 
                                <p>
                                    We are more than happy to hear from all our valued clients and have the 
                                    pleasure to meet your needs and exceed your expectations. Our story is about
                                     commitment, expertise and excellence. It speaks to sustainability, and it 
                                     starts with trust. Earning the trust of clients and our employees is a
                                      guiding principle of our company, and we work hard at it every day.
                                    Every day, all day, the people of PrimeCapital Consulting Ltd work hard to 
                                    earn the trust of our customers. We believe in the power of teamwork.
                              </p> <p>
                                     We believe that with hard work and passion, anything is possible.
                                      We strive for excellence and integrity in everything we do.
                                       We believe in PrimeCapital Consulting Ltd; we believe in what
                                        we offer and we believe in our purpose. Superior customer 
                                        satisfaction has always been our philosophy and we will continue to provide our
                                         clients with the best services.
                              </p> <p>
                                    We invite you to take a moment to explore PrimeCapital Consulting Ltd and
                                     discover our history, the core values that we’re built on, what others are 
                                     saying about us, and what we do. We’re a refreshing firm to work with. 
                                     As CEO, I couldn’t be prouder of this company and its employees. Spend 
                                     some time with our website/Profile and you’ll see why. Our journey will
                                      be both challenging and rewarding, and I hope it’s one you will consider.
                                    Please don't hesitate to contact us and let us know if there is anything, we can assist you with.
                                    
                                    </p>
                                    <p> <b>Dr. Usman Emmanuel Bassi</b> </p>
                                      <p>  MD/CEO – PrimeCapital Group
                                        </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// About Us Area -->

            <!-- Video Callback -->
         <!--   <div class="tm-section video-area tm-padding-section" data-bgimage="assets/images/bg/bg-image-1.jpg"
                data-overlay="9">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-11 col-12">
                            <div class="tm-video text-center">
                                <div class="tm-videobutton tm-videobutton-lg">
                                    <a href="https://www.youtube.com/embed/XWcjIahn7xI">
                                        <span><i class="fa fa-play"></i></span>
                                    </a>
                                </div>
                                <div class="tm-video-content">
                                    <h2>Play the video to know more about us</h2>
                                    <p>Tempora maiores amet quasi temporibus impedit. Asperiores earum maiores at.
                                        Sed autem non reiciendis qui. Sapiente necessitatibus saepe ad corporis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--// Video Callback -->

            <!-- Request Callback Area -->
           <!-- <div class="tm-section callback-area bg-grey tm-padding-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="tm-callback">
                                <h2>Request a callback</h2>
                                <p>Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
                                    ullam.</p>
                                <form action="#" class="tm-form">
                                    <div class="tm-form-inner">
                                        <div class="tm-form-field">
                                            <input type="text" placeholder="Enter Email*" required>
                                        </div>
                                        <div class="tm-form-field">
                                            <select>
                                                <option value="a">Select Categories</option>
                                                <option value="b">Financial Analysis</option>
                                                <option value="c">Business Consulting</option>
                                                <option value="d">Corporate Finance</option>
                                                <option value="e">Financial Planning</option>
                                                <option value="f">Business Growth</option>
                                                <option value="g">Wealth Management</option>
                                            </select>
                                        </div>
                                        <div class="tm-form-field tm-form-fieldhalf">
                                            <input type="text" placeholder="Phone Number*" required>
                                        </div>
                                        <div class="tm-form-field tm-form-fieldhalf">
                                            <input type="text" data-toggle="datepicker" placeholder="Select Date*"
                                                required>
                                        </div>
                                        <div class="tm-form-field">
                                            <button type="submit" class="tm-button">Submit Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tm-successreport">
                                <h2>OUR PROGRESS REPORTS</h2>
                                <canvas id="business-growth" height="190"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--// Request Callback Area -->

            <!-- Funfact Area -->
            <!--<div class="tm-section funfact-area tm-padding-section tm-parallax" data-bgimage="assets/images/bg/bg-image-1.jpg"
                data-overlay="9">
                <div class="container">
                    <div class="row tm-funfact-wrapper">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-group"></i>
                                </span>
                                <div class="tm-funfact-content">
                                    <span class="odometer" data-count-to="500"></span>
                                    <h5>Projects Complete</h5>
                                </div>
                            </div>
                        </div>-->
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                      <!--  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-success"></i>
                                </span>
                                <div class="tm-funfact-content">
                                    <span class="odometer" data-count-to="500"></span>
                                    <h5>Happy Clients</h5>
                                </div>
                            </div>
                        </div>-->
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                    <!--    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-trophy"></i>
                                </span>
                                <div class="tm-funfact-content">
                                    <span class="odometer" data-count-to="500"></span>
                                    <h5>Total Users</h5>
                                </div>
                            </div>
                        </div>-->
                        <!--// Single Funfact -->

                        <!-- Single Funfact -->
                       <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tm-funfact wow fadeInUp">
                                <span class="tm-funfact-icon">
                                    <i class="flaticon-like"></i>
                                </span>
                                <div class="tm-funfact-content">
                                    <span class="odometer" data-count-to="500"></span>
                                    <h5>Likes</h5>
                                </div>
                            </div>
                        </div>-->
                        <!--// Single Funfact -->

                   <!-- </div>
                </div>
            </div>-->
            <!--// Funfact Area -->

            <!-- Team Area -->
         <!--   <div class="tm-section team-members-area bg-grey tm-padding-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                            <div class="tm-section-title text-center">
                                <h2>OUR ADVISORS</h2>
                                <span class="divider"><i class="fa fa-superpowers"></i></span>
                                <p>Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
                                    ullam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-30-reverse">-->

                        <!-- Team Member -->
                       <!-- <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="assets/images/team/team-member-1.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5>Astley Fletcher</h5>
                                    <p>S. Advisor</p>
                                </div>
                            </div>
                        </div>-->
                        <!--// Team Member -->

                        <!-- Team Member -->
                     <!--   <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="assets/images/team/team-member-2.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5>Bernard Rutherford</h5>
                                    <p>S. Advisor</p>
                                </div>
                            </div>
                        </div>-->
                        <!--// Team Member -->

                        <!-- Team Member -->
                       <!-- <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="assets/images/team/team-member-3.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5>Amelie Bernhard</h5>
                                    <p>J. Advisor</p>
                                </div>
                            </div>
                        </div>-->
                        <!--// Team Member -->

                        <!-- Team Member -->
                       <!-- <div class="col-lg-3 col-md-6 col-12 mt-30">
                            <div class="tm-member wow fadeInUp">
                                <div class="tm-member-top">
                                    <img src="assets/images/team/team-member-4.jpg" alt="team member">
                                    <div class="tm-member-social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tm-member-bottom">
                                    <h5>Demond Towne</h5>
                                    <p>Marketer</p>
                                </div>
                            </div>
                        </div>-->
                        <!--// Team Member -->

                <!--    </div>
                </div>
            </div>-->
            <!--// Team Area -->

            <!-- Call To Action Area -->
            <div class="tm-section call-to-action-area bg-theme">
                <div class="container">
                    <div class="row align-items-center tm-cta">
                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="tm-cta-content">
                                <h3>Are you worried about your business?</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="tm-cta-button">
                                <a href="contact-us.html" class="tm-button tm-button-white">Contact Us <b></b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Call To Action Area -->

        </main>

        </div>
        <!--// Footer Area -->
        <%- include('./partials/footer') %>
    </div>
    <!--// Wrapper -->
<%- include ('./partials/scripts') %>
</body>

</html>