<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

<!-- Preloader -->
<div class="tm-preloader">
<span class="tm-preloader-box"></span>
<button class="tm-button tm-button-sm tm-button-white">Cancel Preloader <b></b></button>
</div>
<!--// Preloader -->

<!-- Wrapper -->
<div id="wrapper" class="wrapper">

    <%- include('./partials/header') %>

<!-- Heroslider -->
<div class="heroslider">

<!-- Heroslider Item -->
<div class="heroslider-single tm-rippple-active" data-bgimage="/images/index.jpg"
data-black-overlay="8">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-8 col-lg-10">
<div class="heroslider-content text-center">
<div class="heroslider-animatebox">
<h1>
<span>Prime Capital</span>
<b>Consulting Limited</b>
</h1>
</div>
<div class="heroslider-animatebox">
<p>...creating opportunities</p>
</div>
<div class="heroslider-animatebox">
<div class="tm-buttongroup">
<a href="" class="tm-button">About Us <b></b></a>
<a href="" class="tm-button tm-button-white">Our Services
<b></b></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--// Heroslider Item -->

</div>
<!--// Heroslider -->

<!-- Main -->
<main class="page-content">

<!-- About Us Area -->
<div class="tm-section about-us-area bg-white tm-padding-section">
<div class="container">
<div class="row">
<div class="col-xl-6 col-lg-5">
<div class="tm-about-image">
<img class="wow fadeInLeft" src="/images/weare.jpg"
alt="prime capital ">
</div>
</div>
<div class="col-xl-6 col-lg-7">
<div class="tm-about-content">
<h2>WE ARE PRIME CAPITAL</h2>
<span class="divider"><i class="fa fa-superpowers"></i></span>
<p style="text-align: justify;">We help you see the world differently;
 discover opportunities you may never have imagined and achieve results that bridge what is with what can be.
  We believe that by putting our clients first and revolving our whole service around them,
   we create something different. Something better. It’s been the driving force at PrimeCapital for over years.</p>
 <p>Prime Capital other services:</p>
 <ul class="stylish-list">
    <li><i class="fa fa-check-square-o"></i> Corporate Finace Practice</li>
    <li><i class="fa fa-check-square-o"></i> Family Business management</li>
    <li><i class="fa fa-check-square-o"></i> Brand Building & Positioning</li>
    <li><i class="fa fa-check-square-o"></i> Due Diligence</li>
    <li><i class="fa fa-check-square-o"></i> Business Process Service</li>
    <li><i class="fa fa-check-square-o"></i> Business Analysis</li>
    </ul>
    
<!--<ul class="stylish-list">
<li><i class="fa fa-check-square-o"></i> Business Advisory</li>
<li><i class="fa fa-check-square-o"></i> Fianacial Services</li>
<li><i class="fa fa-check-square-o"></i> Sales & Marketing Services</li>
<li><i class="fa fa-check-square-o"></i> Recruiting/Outsourcing (HR Cosulting)</li>
<li><i class="fa fa-check-square-o"></i> Training and Development</li>
<li><i class="fa fa-check-square-o"></i> Mystrey Shopping Services</li>
</ul>-->
<a href="" class="tm-button">About Us <b></b></a>
</div>
</div>
</div>
</div>
</div>
<!--// About Us Area -->

<!-- Services Area -->
<div class="tm-section services-area bg-grey tm-padding-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 col-12">
<div class="tm-section-title text-center">
<h2>OUR SERVICES</h2>
<span class="divider"><i class="fa fa-superpowers"></i></span>
<p>Our main services are as follows</p>
</div>
</div>
</div>
<div class="row mt-30-reverse">

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-analysis"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-graphic-money"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Business Advisory</a></h5>
<p></p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-consulting"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-clock-money"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Financial Services</a></h5>
<p></p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-growth"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-success"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Sales & Marketing Services</a></h5>
<p>Markets are continuously evolving and so are customer needs.
 Every day we need to critically challenge the way we engage with customers
 </p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-planning"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-paper-certificate"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Recruiting/Outsourcing (HR Consulting)</a></h5>
<p></p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-money"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-money"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Training and Development</a></h5>
<p></p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

<!-- Single Service -->
<div class="col-lg-4 col-md-6 col-12 mt-30">
<div class="tm-service text-center wow fadeInUp">
<span class="tm-service-bgicon">
<i class="flaticon-management"></i>
</span>
<span class="tm-service-icon">
<i class="flaticon-user"></i>
</span>
<div class="tm-service-content">
<h5><a href="">Mystrey Shopping Service</a></h5>
<p>Mystery Shopping is a real-word, real-time diagnostic of what your customers are experiencing.
      </p>
<a href="" class="tm-readmore">Read More</a>
</div>
</div>
</div>
<!--// Single Service -->

</div>
</div>
</div>
<!--// Services Area -->

<!-- Request Callback Area -->
<!--<div class="tm-section callback-area bg-white tm-padding-section">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="tm-callback">
<h2>Request a callback</h2>
<p>Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
ullam.</p>
<form action="#" class="tm-form">
<div class="tm-form-inner">
<div class="tm-form-field">
<input type="text" placeholder="Enter Email*" required>
</div>
<div class="tm-form-field">
<select>
<option value="a">Select Categories</option>
<option value="b">Financial Analysis</option>
<option value="c">Business Consulting</option>
<option value="d">Corporate Finance</option>
<option value="e">Financial Planning</option>
<option value="f">Business Growth</option>
<option value="g">Wealth Management</option>
</select>
</div>
<div class="tm-form-field tm-form-fieldhalf">
<input type="text" placeholder="Phone Number*" required>
</div>
<div class="tm-form-field tm-form-fieldhalf">
<input type="text" data-toggle="datepicker" placeholder="Select Date*"
required>
</div>
<div class="tm-form-field">
<button type="submit" class="tm-button">Submit Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-6">
<div class="tm-successreport">
<h2>OUR PROGRESS REPORTS</h2>
<canvas id="business-growth" height="190"></canvas>
</div>
</div>
</div>
</div>
</div>-->
<!--// Request Callback Area -->

<!-- Funfact Area -->
<div class="tm-section funfact-area tm-padding-section tm-parallax"
data-bgimage="/images/goals.jpg" data-overlay="9">
<div class="container">
<div class="row tm-funfact-wrapper">

<!-- Single Funfact -->
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
<div class="tm-funfact wow fadeInUp">
<span class="tm-funfact-icon">
<i class="flaticon-group"></i>
</span>
<div class="tm-funfact-content">
<!--<span class="odometer" data-count-to="500"></span>-->
<h5>What We Believe</h5>
<p>We believe that bold steps define the future. That the ambition to
     lead requires the courage to adapt. And that doing the 
     right thing is rarely easy, but always worth it.</p>
</div>
</div>
</div>
<!--// Single Funfact -->

<!-- Single Funfact -->
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="tm-funfact wow fadeInUp">
    <span class="tm-funfact-icon">
    <i class="flaticon-group"></i>
    </span>
    <div class="tm-funfact-content">
    <!--<span class="odometer" data-count-to="500"></span>-->
    <h5>Our Goal</h5>
    <p>Our Goal is to be a dependable extension of your organisations 
        vision and goals for the long haul. Whether you are a start-up,
         small & mid-size company or a large corporation we have solutions 
        that can help you get off the ground, continue your growth, 
        or maintain your competitive edge.</p>
    </div>
    </div>
    </div>
<!--// Single Funfact -->

<!-- Single Funfact -->
<div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="tm-funfact wow fadeInUp">
    <span class="tm-funfact-icon">
    <i class="flaticon-group"></i>
    </span>
    <div class="tm-funfact-content">
    <!--<span class="odometer" data-count-to="500"></span>-->
    <h5>Our People</h5>
    <p>We believe that our most important asset is our client
         reputation and the key to building that reputation lies
          with each and every employee. That's why we
         attract and retain the best and brightest employees
          by providing exceptional wages and world-class benefits.</p>
    </div>
    </div>
    </div>
<!--// Single Funfact -->


</div>
</div>
</div>
<!--// Funfact Area -->

<!-- Team Area -->
<div class="tm-section team-members-area bg-white tm-padding-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 col-12">
<div class="tm-section-title text-center">
<h2>OUR CORE VALUES</h2>
<span class="divider"><i class="fa fa-superpowers"></i></span>
<p>Our core value is based on the SCRIPT Principle</p>
</div>
</div>
</div>
<div class="row mt-30-reverse">

<!-- Team Member -->
<div class="col-lg-3 col-md-6 col-12 mt-30">
<div class="tm-member wow fadeInUp">
<!--<div class="tm-member-top">
<img src="assets/images/team/team-member-1.jpg" alt="team member">
<div class="tm-member-social">
<ul>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fa fa-skype"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
</ul>
</div>
</div>-->
<div class="tm-member-bottom">
    <div class="tm-service-content">
        <h5><b>Service</b></h5>
        <p>We deliver the highest level of service, performed by industry-leading consultants who are extremely
             knowledgeable about our clients’ challenges and passionate about results.  </p>
             
        </div>

</div>
</div>
</div>
<!--// Team Member -->

<!-- Team Member -->
<div class="col-lg-3 col-md-6 col-12 mt-30">
<div class="tm-member wow fadeInUp">
<!--<div class="tm-member-top">
<img src="assets/images/team/team-member-2.jpg" alt="team member">
<div class="tm-member-social">
<ul>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fa fa-skype"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
</ul>
</div>
</div>-->
<div class="tm-member-bottom">
    <div class="tm-service-content">
        <h5><b>Creative Leadership</b></h5>
        <p>
             We inspire growth and innovation through learning and bold action.</p>
        </div>

</div>
</div>
</div>
<!--// Team Member -->

<!-- Team Member -->
<div class="col-lg-3 col-md-6 col-12 mt-30">
<div class="tm-member wow fadeInUp">
    <div class="tm-member-bottom">
        <div class="tm-service-content">
            <h5><b>Responsibility</b></h5>
            <p>We act with honesty, integrity, and thoughtfulness.</p>
            </div>
    
    </div>
</div>
</div>
<!--// Team Member -->

<!-- Team Member -->
<div class="col-lg-3 col-md-6 col-12 mt-30">
<div class="tm-member wow fadeInUp">
    <div class="tm-member-bottom">
        <div class="tm-service-content">
            <h5><b>Innovation</b></h5>
            <p>We never give up seeking creative ways to solve tough problems.</p>
    </div>
    
    </div>
</div>

</div>
</div>
<!--// Team Member -->

</div>
</div>
</div>
<!--// Team Area -->

<!-- Our Portfolios -->
<div class="tm-section portfolios-area bg-grey tm-padding-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 col-12">
    
<div class="tm-section-title text-center">
<h2>WHY US?</h2>
<span class="divider"><i class="fa fa-superpowers"></i></span>
<p></p>
</div>
</div>

</div>
<div class="row">
    <div class="col-xl-6 col-lg-5">
        <div class="tm-about-image">
        <img class="wow fadeInLeft" src="/images/whyus.jpg"
        alt="prime capital ">
        </div>
        </div>
    <div class="col-xl-6 col-lg-7">
        <div class="tm-about-content">
        <p style="text-align: justify;">Everything starts with our team. We cultivate talent that
             knows your industry, that recognizes your challenges, and that works hand-in-hand with 
             you to find real opportunities for transformation. We understand that business success 
             starts with people. And we’ve consulted hundreds of businesses, applying the required 
             standards to each, 
            so we can genuinely benchmark the business performance. So why PrimeCapital Consulting because:</p>
         <ul class="stylish-list">
            <li><i class="fa fa-check-square-o"></i> Unique Consulting approach <p>PrimeCapital which takes care of setting 
                a result-oriented culture at our client’s organization and provides desired output to the client.</p></li>
            <li><i class="fa fa-check-square-o"></i> Tailor Made Solutions <p>We don’t stick with one method or
                 way but understand the client’s requirement and design complete solution accordingly.</p></li>
            <li><i class="fa fa-check-square-o"></i> Consultants In-Depth <p>Technical as well as Management skills
                 and provide customer centric solution through out the consulting engagement.</p></li>
            <li><i class="fa fa-check-square-o"></i> Vision and Methodology <p>is simple but effective that delivers solution as
                 committed and with quality. It builds long term relationship with our client.</p></li>
            
            </ul>
        
</div>

</div>
</div>
<!--// Our Portfolios -->
</div>
</div>
</div>
<!--// Testimonial Area -->

<!-- Blogs Area -->
<!--<div class="tm-section blogs-area bg-white tm-padding-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 col-12">
<div class="tm-section-title text-center">
<h2>OUR LATEST BLOGS</h2>
<span class="divider"><i class="fa fa-superpowers"></i></span>
<p>Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
ullam.</p>
</div>
</div>
</div>
<div class="blog-slider-active tm-slider-arrow tm-slider-arrow-hovervisible">


<div class="blog-slider-item">
<div class="tm-blog wow fadeInUp">
<div class="tm-blog-image">
<a href="blog-details.html">
<img src="assets/images/blog/blog-image-1.jpg" alt="blog image">
</a>
</div>
<div class="tm-blog-content">
<div class="tm-blog-meta">
<span><i class="fa fa-user-o"></i>By <a href="blog.html">Anderson</a></span>
<span><i class="fa fa-calendar-o"></i>October 15, 2018</span>
</div>
<h5><a href="blog-details.html">The Most Advance Business Plan</a></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incdidunt ut labore et.</p>
<a href="blog-details.html" class="tm-readmore">Continue Reading...</a>
</div>
</div>
</div>

<div class="blog-slider-item">
<div class="tm-blog wow fadeInUp">
<div class="tm-blog-imageslider tm-slider-arrow tm-slider-dots">
<a href="blog-details-gallery.html" class="blogitem-imageslider-image">
<img src="assets/images/blog/blog-image-5.jpg" alt="blog image">
</a>
<a href="blog-details-gallery.html" class="blogitem-imagesalider-image">
<img src="assets/images/blog/blog-image-6.jpg" alt="blog image">
</a>
<a href="blog-details-gallery.html" class="blogitem-imageslider-image">
<img src="assets/images/blog/blog-image-7.jpg" alt="blog image">
</a>
</div>
<div class="tm-blog-content">
<div class="tm-blog-meta">
<span><i class="fa fa-user-o"></i>By <a href="blog.html">Anderson</a></span>
<span><i class="fa fa-calendar-o"></i>October 15, 2018</span>
</div>
<h5><a href="blog-details-gallery.html">The Most Advance Business Plan</a></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incdidunt ut labore et.</p>
<a href="blog-details-gallery.html" class="tm-readmore">Continue Reading...</a>
</div>
</div>
</div>

<div class="blog-slider-item">
<div class="tm-blog wow fadeInUp">
<div class="tm-blog-video">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"
src="https://www.youtube.com/embed/XWcjIahn7xI" allowfullscreen></iframe>
</div>
</div>
<div class="tm-blog-content">
<div class="tm-blog-meta">
<span><i class="fa fa-user-o"></i>By <a href="blog.html">Anderson</a></span>
<span><i class="fa fa-calendar-o"></i>October 15, 2018</span>
</div>
<h5><a href="blog-details-video.html">The Most Advance Business Plan</a></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incdidunt ut labore et.</p>
<a href="blog-details-video.html" class="tm-readmore">Continue Reading...</a>
</div>
</div>
</div>

<div class="blog-slider-item">
<div class="tm-blog wow fadeInUp">
<div class="tm-blog-audio">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"
src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/298527001&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</div>
</div>
<div class="tm-blog-content">
<div class="tm-blog-meta">
<span><i class="fa fa-user-o"></i>By <a href="blog.html">Anderson</a></span>
<span><i class="fa fa-calendar-o"></i>October 15, 2018</span>
</div>
<h5><a href="blog-details-audio.html">The Most Advance Business Plan</a></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incdidunt ut labore et.</p>
<a href="blog-details-audio.html" class="tm-readmore">Continue Reading...</a>
</div>
</div>
</div>


<div class="blog-slider-item">
<div class="tm-blog wow fadeInUp">
<div class="tm-blog-image">
<a href="blog-details.html">
<img src="assets/images/blog/blog-image-2.jpg" alt="blog image">
</a>
</div>
<div class="tm-blog-content">
<div class="tm-blog-meta">
<span><i class="fa fa-user-o"></i>By <a href="blog.html">Anderson</a></span>
<span><i class="fa fa-calendar-o"></i>October 15, 2018</span>
</div>
<h5><a href="blog-details.html">The Most Advance Business Plan</a></h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incdidunt ut labore et.</p>
<a href="blog-details.html" class="tm-readmore">Continue Reading...</a>
</div>
</div>
</div>


</div>
</div>
</div>-->


<!--<div class="tm-section brand-logo-area bg-grey tm-padding-section">
<div class="container">
<div class="brandlogo-slider tm-slider-arrow tm-slider-arrow-hovervisible">

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-1.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-2.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-3.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-4.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-5.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-1.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-2.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-3.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-4.png" alt="brand-logo">
</a>
</div>

<div class="brandlogo">
<a href="#">
<img src="assets/images/brand-logo/brand-logo-5.png" alt="brand-logo">
</a>
</div>

</div>
</div>
</div>-->
<!--// Brandlogo Area -->

<!-- Call To Action Area -->
<div class="tm-section call-to-action-area bg-theme">
<div class="container">
<div class="row align-items-center tm-cta">
<div class="col-lg-9 col-md-8 col-12">
<div class="tm-cta-content">
<h3>Are you worried about your business?</h3>
</div>
</div>
<div class="col-lg-3 col-md-4 col-12">
<div class="tm-cta-button">
<a href="contact-us.html" class="tm-button tm-button-white">Contact Us <b></b></a>
</div>
</div>
</div>
</div>
</div>
<!--// Call To Action Area -->

</main>
<!--// Main -->
<!--<div class="footer fixed-footer">-->
<%- include('./partials/footer') %>

    <!--// Footer Widgets Area -->
    
    <!-- Footer Copyright Area -->
    <div class="footer-copyrightarea">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-md-8 col-12">
    <p class="footer-copyright">Copyright ©2020<a href="#"></a>. All Rights Reserved
    </p>
    </div>
    <div class="col-md-4 col-12">
    <div class="footer-copyrightsocial">
    <ul>
    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
    class="fa fa-twitter"></i></a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
    class="fa fa-facebook-f"></i></a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i
    class="fa fa-skype"></i></a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
    class="fa fa-pinterest-p"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--// Footer Copyright Area -->
    
    
    <!--// Footer Area -->
    
</div>
<!-- Login Register Popup -->
<!--<div class="tm-loginregister-popup modal fade" id="tm-loginregister-popup" role="dialog" aria-hidden="true">
<div class="container">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="row justify-content-center">
<div class="col-xl-8 col-lg-9 col-md-10 col-sm-10 col-12">
<div class="tm-loginregister">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<i class="fa fa-times"></i>
</button>
<ul class="nav tm-tabgroup" id="bstab1" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="bstab1-area1-tab" data-toggle="tab"
href="#bstab1-area1" role="tab" aria-controls="bstab1-area1"
aria-selected="true">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" id="bstab1-area2-tab" data-toggle="tab"
href="#bstab1-area2" role="tab" aria-controls="bstab1-area2"
aria-selected="false">Register</a>
</li>
</ul>
<div class="tab-content" id="bstab1-ontent">
<div class="tab-pane fade show active" id="bstab1-area1" role="tabpanel"
aria-labelledby="bstab1-area1-tab">

<form action="#" class="tm-form tm-login-form tm-form-bordered">
<h4>Login</h4>
<div class="tm-form-inner">
<div class="tm-form-field">
<label for="login-email">Username or email address*</label>
<input type="email" id="login-email" required="required">
</div>
<div class="tm-form-field">
<label for="login-password">Password*</label>
<input type="password" id="login-password" required="required">
</div>
<div class="tm-form-field">
<input type="checkbox" name="login-remember"
id="login-remember">
<label for="login-remember">Remember Me</label>
</div>
<div class="tm-form-field">
<button type="submit" class="tm-button">Login <b></b></button>
</div>
<div class="tm-form-field">
<a href="#">Forgot your password?</a>
</div>
</div>
</form>

</div>
<div class="tab-pane fade" id="bstab1-area2" role="tabpanel"
aria-labelledby="bstab1-area2-tab">

<form action="#" class="tm-form tm-register-form tm-form-bordered">
<h4>Create an account</h4>
<div class="tm-form-inner">
<div class="tm-form-field">
<label for="register-username">Username</label>
<input type="text" id="register-username" required="required">
</div>
<div class="tm-form-field">
<label for="register-email">Email address</label>
<input type="email" id="register-email" required="required">
</div>
<div class="tm-form-field">
<label for="register-password">Password</label>
<input type="password" id="register-password"
required="required">
</div>
<div class="tm-form-field">
<input type="checkbox" id="register-terms">
<label for="register-terms">I have read and agree to the
website terms and conditions</label>
</div>
<div class="tm-form-field">
<button type="submit" class="tm-button">Register
<b></b></button>
</div>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>-->
<!--// Login Register Popup -->

</div>
<!--// Wrapper -->
<%- include('./partials/scripts') %>
</body>

</html>